@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  /* Fallback black */
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}